#header{
    background-color:var(--bg-color-1);
    height: 116px;
    display: grid;
}

#header .navbar-brand{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

#header nav .row{
    width: 100%;
    margin-left: 0;
}

#header .container{
    width: 1160px;
    justify-content: space-between;
}

#header nav a{
    color: var(--text-color-1);
}

#header .menu .nav-link{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    margin-inline: 20px;
}

#header .icons .icon_search{
   margin-inline: 40px; 
}