<section class="categories">
    <div>
       
            <ul>
                <li>Categories</li>
                <li>Art & Fashion</li>
                <li>Biograph</li>
                <li>Business</li>
                <li>Children's</li>
                <li>Education</li>
                <li>Fiction & Poetry</li>
                <li>Education</li>
                <li>Film,TV & Drama</li>
                <li>Food & Drink</li>
                <li>Film,TV & Drama</li>
                <li>Health & Welbeing</li>
                <li>History & Politcs</li>
                <li>Home & Garden</li>
                <li>Languages With Grant</li>
                <li>Sport & Hobbies</li>
                <li>Travel & Maps</li>
            </ul>
        
    </div>
</section>
