.categories{
    margin-top: 134px;
    width: 416px;
    height: 710px;
    display: flex;
    justify-content: center;
    background-color:var(--bg-color-2) ;
}

.categories div .categorie{
    margin-block: 0;
}

.categories div ul li{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin-block: 23px;
    list-style:none ;
}
.categories div ul li:hover{
    list-style-image: url(../../../assets/icons/elipse.png);
}

.categories div ul li a{
    text-decoration: none;
    color: var(--text-color-2);
}