.books{
    margin-left: -60px;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 75px;
}

.books .books_wrapper .books_especifications{
    width: 176px;
    height: 204px;
    margin-left: 36px;
}
