<section class="books">

    <div class="books_wrapper d-flex">
        <div><img src="../../../assets/img/crazy_rich_asians.svg" alt=""></div>
        <div class="books_especifications">
            <p>Kevin Kwan</p>

            <h2>Crazy rich asians</h2>

            <div class="d-flex">
                <div>
                    <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M6 0L7.80568 3.5147L11.7063 4.1459L8.92165 6.9493L9.52671 10.8541L6 9.072L2.47329 10.8541L3.07835 6.9493L0.293661 4.1459L4.19432 3.5147L6 0Z"
                            fill="#F2C94C" />
                    </svg>
                    <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M6 0L7.80568 3.5147L11.7063 4.1459L8.92165 6.9493L9.52671 10.8541L6 9.072L2.47329 10.8541L3.07835 6.9493L0.293661 4.1459L4.19432 3.5147L6 0Z"
                            fill="#F2C94C" />
                    </svg>
                    <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M6 0L7.80568 3.5147L11.7063 4.1459L8.92165 6.9493L9.52671 10.8541L6 9.072L2.47329 10.8541L3.07835 6.9493L0.293661 4.1459L4.19432 3.5147L6 0Z"
                            fill="#F2C94C" />
                    </svg>
                    <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M6 0L7.80568 3.5147L11.7063 4.1459L8.92165 6.9493L9.52671 10.8541L6 9.072L2.47329 10.8541L3.07835 6.9493L0.293661 4.1459L4.19432 3.5147L6 0Z"
                            fill="#F2C94C" />
                    </svg>
                    <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M6 0L7.80568 3.5147L11.7063 4.1459L8.92165 6.9493L9.52671 10.8541L6 9.072L2.47329 10.8541L3.07835 6.9493L0.293661 4.1459L4.19432 3.5147L6 0Z"
                            fill="#EEEDF5" />
                    </svg>
                </div>
                <div> 252 review</div>
            </div>

            <p>The outrageously funny debut novel about three super-rich, pedigreed Chinese families and the gossip</p>

            <div class="d-flex">
                <p>R$14.99</p>
                <p>RS24.12</p>
            </div>

            <button>Buy Now</button>

            <div></div>

        </div>
    </div>
    <div class="books_wrapper">
        <div><img src="../../../assets/img/brave_new_world.svg" alt=""></div>
        <div></div>
    </div>

    <div class="books_wrapper">
        <div><img src="../../../assets/img/the_handmaids_tale.svg" alt=""></div>
        <div></div>
    </div>
    <div class="books_wrapper d-flex">
        <div><img src="../../../assets/img/educated.svg" alt=""></div>
        <div class="books_especifications">
            <p>Kevin Kwan</p>

            <h2>Crazy rich asians</h2>

            <div class="d-flex">
                <div>
                    <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M6 0L7.80568 3.5147L11.7063 4.1459L8.92165 6.9493L9.52671 10.8541L6 9.072L2.47329 10.8541L3.07835 6.9493L0.293661 4.1459L4.19432 3.5147L6 0Z"
                            fill="#F2C94C" />
                    </svg>
                    <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M6 0L7.80568 3.5147L11.7063 4.1459L8.92165 6.9493L9.52671 10.8541L6 9.072L2.47329 10.8541L3.07835 6.9493L0.293661 4.1459L4.19432 3.5147L6 0Z"
                            fill="#F2C94C" />
                    </svg>
                    <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M6 0L7.80568 3.5147L11.7063 4.1459L8.92165 6.9493L9.52671 10.8541L6 9.072L2.47329 10.8541L3.07835 6.9493L0.293661 4.1459L4.19432 3.5147L6 0Z"
                            fill="#F2C94C" />
                    </svg>
                    <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M6 0L7.80568 3.5147L11.7063 4.1459L8.92165 6.9493L9.52671 10.8541L6 9.072L2.47329 10.8541L3.07835 6.9493L0.293661 4.1459L4.19432 3.5147L6 0Z"
                            fill="#F2C94C" />
                    </svg>
                    <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M6 0L7.80568 3.5147L11.7063 4.1459L8.92165 6.9493L9.52671 10.8541L6 9.072L2.47329 10.8541L3.07835 6.9493L0.293661 4.1459L4.19432 3.5147L6 0Z"
                            fill="#EEEDF5" />
                    </svg>
                </div>
                <div> 252 review</div>
            </div>

            <p>The outrageously funny debut novel about three super-rich, pedigreed Chinese families and the gossip</p>

            <div class="d-flex">
                <p>R$14.99</p>
                <p>RS24.12</p>
            </div>

            <button>Buy Now</button>

            <div></div>

        </div>
    </div>


</section>